@model List<Filme>

@{
    ViewData["Title"] = "Index";
}

<h1>Filmes</h1>

@if (TempData["msg"] != null)
{
    <div class="alert alert-success">
        @TempData["msg"]
    </div>
}

<form class="row mb-3" asp-action="index" method="get">
    <div class="col-4">
        <input type="text" class="form-control" name="termoBusca"
               placeholder="Digite o título" />
    </div>
    <div class="col-2">
        <button class="btn btn-success">Pesquisar</button>
    </div>
</form>

<a asp-action="cadastrar">Cadastrar</a>
<table class="table table-striped">
    <tr>
        <th>Título</th>
        <th>Sinopse</th>
        <th>Duração</th>       
        <th>Categoria</th>
        <th>Disponível</th>
        <th>Produtora</th>
        <th></th>
    </tr>
    @if (Model.Count == 0)
    {
        <tr>
            <td colspan="8">Sem resultados</td>
        </tr>
    }
    else
    {
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Titulo</td>
                <td>@item.Sinopse</td>
                <td>@item.Duracao</td>              
                <td>@item.Categoria</td>
                <td>@(item.Disponivel ? "Sim" : "Não")</td>
                <td>@item.Produtora?.Nome</td>
                <td>
                    <a asp-action="info" asp-route-id="@item.FilmeId" class="btn btn-sm btn-outline-primary">Detalhes</a>
                    <a asp-action="editar" asp-route-id="@item.FilmeId" class="btn btn-sm btn-outline-dark">Editar</a>
                    <button onclick="churros.value = @item.FilmeId" type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Excluir
                    </button>
                </td>
            </tr>
        }
    }
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmação</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Deseja realmente excluir o filme?
            </div>
            <div class="modal-footer">
                <form asp-action="remover">
                    <input type="hidden" name="id" id="churros" />
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                    <button type="submit" class="btn btn-danger">Sim</button>
                </form>
            </div>
        </div>
    </div>
</div>