@model List<Veiculo>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<alert texto="@TempData["msg"]"></alert>

<a asp-action="cadastrar">Cadastrar</a>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Modelo</th>
            <th>Ano</th>
            <th>Disponível</th>
            <th>Placa</th>
            <th>Km</th>
            <th>Tipo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Modelo</td>
                <td>@item.Ano</td>
                <td>@(item.Disponivel?"Sim":"Não")</td>
                <td>@item.Placa</td>
                <td>@item.Km</td>
                <td>@item.Tipo</td>
                <td>
                    <a asp-action="editar" asp-route-id="@item.Id" class="btn btn-primary">Editar</a>
                    <!-- Button trigger modal -->
                    <button onclick="churros.value = @item.Id" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Excluir
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmação</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Deseja realmente excluir o veículo?
            </div>
            <div class="modal-footer">
                <form asp-action="remover">
                    <input type="hidden" name="id" id="churros"/>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                    <button type="submit" class="btn btn-danger">Sim</button>
                </form>
            </div>
        </div>
    </div>
</div>